h1 {
  font-size: 48px;
}

.container {
  padding: 130px;
  margin:   0px;
  text-align: center;
  font-family: Arial;
  background-color: aqua;
}


input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.traffic-light {
  width: 70px;
  background: black;
  padding: 8px;
  margin: 20px auto;
  border-radius: 10px;
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 8px auto;
  opacity: 0.3;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.active {
  opacity: 1;
}

.simulation-done-box {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}